@import "../../node_modules/bootstrap/scss/functions";
@import "variables";



.category-body-1 {
  max-height: 100%;

  .page-header {
    height: 100px;
    position: relative;
    margin: 50px 0 50px 0;

  }

  .list-doc a{
    border: 1px;

    .icon {
      color: #2ca8ff;
    }

    .doc {
      color: #6c8495;
      margin: 0 0 0 30px;
    }
    h2 {
      font-size: 20px;
    }

  }
  .table td {
    border-bottom: 1px solid #dee2e6 !important;
    border-top: inherit !important;

  }


}
.text-primary {
  font-weight: 600;
}

